# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
family-finance-app-61a64-firebase-adminsdk-fbsvc-4c0ad4c737.json
client_secret_2_522844790189-ki5cfia88rcg068vfuhmqfofq8kjt08c.apps.googleusercontent.com.json
client_secret_705065179989-gdqnb7ij4lh60g4kqj9fj85qrcmm9ve1.apps.googleusercontent.com copy.json
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env